@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #eef2f4 !important;
  min-height: 100vh !important;
  font-family: "Playfair", Arial, Helvetica, sans-serif !important;
}

/* Page Layout */

.main-content {
  position: relative;
  min-height: 100vh;
}

.page-content {
  padding-bottom: 3.5rem !important;
}

/* Footer layout */

.footer {
  position: absolute;
  background-color: rgb(26, 23, 23);
  bottom: 0;
  width: 100%;
  height: 3.5rem;
  font-size: 12px !important;
}

.footer-divs {
  background-color: rgb(26, 23, 23);
}

.footer-links {
  text-decoration: none;
  cursor: pointer;
  font-size: 16px !important;
  transition: 0.6s;
}

.footer-links:hover {
  text-decoration: none;
  cursor: pointer;
  font-size: 16px !important;
  background-color: #198754;
  padding: 5px;
  border-radius: 3px;
}

/* Navbar CSS */
.mylogo {
  width: 150px !important;
  height: auto !important;
  margin: 0px !important;
  padding: 0px !important;
}

.nav-link {
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  padding: 10px 15px !important;
  margin: 5px 5px !important;
}

.btn-signin {
  background-color: #00a0eb !important ;
}

.btn-signin:hover {
  background-color: #004274 !important ;
}

.btn-sell:hover {
  background-color: #004274 !important ;
}

.loggedbtn {
  font-size: 10px !important;
}

/* search form */
.search-bg {
  background-color: #0dcaf0;
}

.search-form {
  position: relative;
  width: 100% !important;
}

.search-form .form-control {
  padding-left: 2.375rem;
}

.search-form .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: rgb(85, 83, 83);
}

.search-form > input[type="text"] {
  width: 100% !important;
}

.search-header {
  color: #000;
  font-size: 18px;
  font-weight: 500;
}

/* Card body */
.mycard {
  transition: transform 0.2s !important;
}

.mycard:hover {
  transform: scale(1.05);
}

.mycardbody {
  height: 110px !important;
}

.mycardimg {
  height: 150px !important;
}

.view-details {
  font-size: 14px !important;
}

.view-details:hover {
  background-color: #ffc107 !important;
  font-size: 14px !important;
  outline: none !important;
  border: none !important;
  color: black !important;
}

/* Sell Page */

.myimagepreview img {
  width: 100%;
  margin: auto;
  height: 200px;
  background-color: #eef2f4;
  box-sizing: border-box;
  border: none;
}

/* login */
.login-div {
  background-color: #023c69;
  color: #f84a06;
}

.sign-in:disabled {
  cursor: not-allowed !important;
}

.hidden {
  overflow: hidden !important;
  width: 100% !important;
  height: 25px !important;
  font-size: 14px;
}

.error {
  text-align: center;
  color: red;
  background-color: aqua;
}

.login-error {
  padding: 14px 20px;
  background-color: brown;
  color: aliceblue;
}

.mynotfound {
  text-align: center;
  padding-top: 25px;
  color: red;
}
