* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #EEF2F4 !important;
}

.mycardbody {
    height: 110px !important;
}

.mycardimg {
    height: 150px !important;
}

.mycard {
    transition: transform .2s !important;
}

.mycard:hover {
    transform: scale(1.05);
}