@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.main-content {
  position: relative;
  top: 0;
  min-height: 100vh;
}

.page-content {
  margin-top: 100px !important;
  padding-bottom: 50px !important;
}

.footer {
  margin-top: -20px !important;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
  font-size: 14px !important;
}

body {
  background-color: #eef2f4 !important;
  min-height: 100vh !important;
  font-family: "Playfair", Arial, Helvetica, sans-serif !important;
}

.mybrand {
  margin: 0px !important;
  padding: 0px !important;
}

.mylogo {
  width: 150px !important;
  height: auto !important;
  margin: 0px !important;
  padding: 0px !important;
}

.mynavbar {
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  font-size: 12px !important;
  position: sticky !important;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
  margin: 0px !important;
  padding: 0px !important;
  z-index: 10000;
}

.nav-link {
  font-size: 16px !important;
  font-weight: 500 !important;
  padding: 10px 15px !important;
  margin: 5px 5px !important;
}

.btn-signin {
  background-color: #00a0eb !important ;
}

.btn-signin:hover {
  background-color: #004274 !important ;
}

.btn-sell:hover {
  background-color: #004274 !important ;
}

.loggedbtn {
  font-size: 10px !important;
}

.mycardbody {
  height: 110px !important;
}

.mycardimg {
  height: 150px !important;
}

.mycard {
  transition: transform 0.2s !important;
}

.mycard:hover {
  transform: scale(1.05);
}

.myimagepreview img {
  width: 100%;
  margin: auto;
  height: 200px;
  background-color: #eef2f4;
  box-sizing: border-box;
  border: none;
}

.mynotfound {
  text-align: center;
  padding-top: 25px;
  color: red;
}

.sign-in:disabled {
  cursor: not-allowed !important;
}

.hidden {
  overflow: hidden !important;
  width: 100% !important;
  height: 25px !important;
}

.error {
  text-align: center;
  color: red;
  background-color: aqua;
}

.login-error {
  padding: 14px 20px;
  background-color: brown;
  color: aliceblue;
}

@media screen and (min-width: 560px) {
  .mynavbar {
    position: fixed !important;
    height: 100px !important;
    top: 0px;
  }
}

@media screen and (max-width: 560px) {
  .mynavbar {
    position: fixed !important;
    height: auto !important;
    top: 0px;
  }
  .page-content {
    margin-top: 100px !important;
    margin-bottom: 60px !important;
    padding-bottom: 100px !important;
  }
}
